
.background-page {
	background: linear-gradient(rgb(136, 202, 136), rgb(78, 209, 78)) ;
}

/*Img-apresentação*/
.apresentacao{
	background-color: lightgreen;
	margin-top: 100px;
}

.img-apresentacao{
	border-radius: 50%;
	width: 30%;
	position: relative;
	left: 65%;
}

.background-apresentacao{
	background-image: url(../img/frutas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: -15px;
    right: 400px;
    bottom: 0px;
    opacity: 0.1;
}
/*box*/

.botao-apresentacao{
	position: relative;
	top: 50px;
	left: 420px;
}

.card1 {
	background-image: url("../img/frutas-card.png");
	background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.1;
}

.card2 {
	background-image: url("../img/frutas-card2.png");
	background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.1;
}

.col > .card {
	border-radius: 1rem;
}

.h-100 > p {
	color: #fde8b3;
	font-size: 30px;
}
/*CSS Calculadora*/

#mensagem-erros{
	color: red;
	font-weight: bold;
}

.esmaecer {
	transition: 3.5s;
	opacity: 0;
}


label{
	font-weight: bold;
	color: black;
}

.desaparece {
	display:none;
}

span1 {
	position:relative;
	left: 10%;
	bottom: 50px;
	background-color: white;
}

#resultado{
	position: relative;
	bottom: 40px;
	left: 50px;
	font-size: 50px;
	color: blue;
}

#medio-peso{
	color: lightgreen;
	font-weight: bold;
}

#baixo-peso{
	color: white;
}

#sobrepeso{
	color: red;
}

#obesidade{
	color: darkred;
	font-weight: bold;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

a.text-white{ 
	text-decoration: none;
}

#beacons:hover{
	font-style:italic ;
	text-decoration:underline ;
}

.calcular{
	border: 1px solid #000000;
	width: 50%;
	position: relative;
	left: 25%;
	top: 60px;
	margin-bottom: 100px;
	margin-top: 50px;
}

/*Box*/

.box{
	width: 200px;
}

.box > h2 {
	font-family: 'Dancing Script', cursive;
}

/*Contato*/
.feature{
	text-decoration: none;
	color:black;
}

.feature:hover{
	cursor:auto;
	color:black;
}

.feature > h2{
	font-family: 'Dancing Script', cursive;
}

#featured-3 {
	justify-content: center;
	align-items: center;

}

#featured-3 > h2{
	font-family: 'Dancing Script', cursive;
}

.border-bottom {
	width: 50%;
	position: relative;
	left: 24%;
}

.feature > p {
	font-family: 'Pacifico', cursive;
}

/*Footer*/
#copyright{
    background-color: white;
	color:black;	
}

#estilo-footer{
    position: relative;
    left: 350px;
    text-align: justify;
}

a.text-dark {
    text-decoration: none;
}


.img-logo{
    width: 70%;
    height:auto;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
}