.logo{
    width: 10%;
	float: left;
	margin: 20px 20px 20px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.todos-botao{
    text-align: center;
}

.botao{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    margin: 50px 20px 50px;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #000000;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.botao:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ffffff;
    z-index: -1;
}

.botao:hover, .botao:focus {
    color: black; 
}

.botao:hover:before, .botao:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.botao:active {
    transform: scale(0.9);
}

#botao-consulta{
    position: relative; bottom: 3px;
    display: inline-block;
    padding: 1.3em 3em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: black; 
    background-color: #ffffff;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

#botao-consulta:hover {
    background-color: #ffffff;
    box-shadow: 0px 15px 20px rgb(195, 231, 188);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}

#botao-consulta:active {
    transform: translateY(-1px);
}
