.topicos{
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(5, 180, 5);
}
.titulo{
    margin: 15px;
    padding: 30px 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #ffee75;
    width: 33.3%;
}

.titulo1{
    margin: 15px;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: #fde8b3;
    width: 33.3%;
}

.paragrafo{
    margin-top: 20px;
    font-family: 'Amaranth', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.salada{
    position: relative;
    bottom: 165px;
    float: right;
    width: 40%;
}
